
@{
    ViewBag.Title = "APOCAN | Blüten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/theme-charcoal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

</head>
<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="text-center imagebg section--ken-burns space--md" data-overlay="2">
            <div class="background-image-holder"> <img alt="background" src="~/img/Blüten Header Image1.jpg"> </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-11">
                        <h1><b>Blüten</b></h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center cta cta-4 space--xxs border--bottom bg--primary-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> <span> Zurück zur </span> <a href="@Url.RouteUrl("ProfessionalMain")"> <span class="label label--inline bg--primary">Übersicht </span></a> </div>
                </div>
            </div>
        </section>
        <section class="text-center bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabs-container" data-content-align="left">
                            <ul class="tabs">
                                <!--<li>
                                    <div class="tab__title"> <span class="h5">18:1</span></div>
                                    <div class="tab__content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="col-md-7 col-lg-12">
                                                        <div class="slider border--round boxed--border" data-timing="5000" data-paging="true">
                                                            <ul class="slides">-->
                                                                @*<li> <img alt="Image" src="~/img/Products/Bluten-1.jpg"> </li>*@
                                                                <!--<li> <img alt="Image" src="~/img/Product/Blüte WW 10g smla.jpg"> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="text-block">
                                                        <h3><b>APOCAN WW 18|1 CANNABIS FLOS 10 g</b></h3>
                                                        <h3 class="color--googleplus"><b>Erhältlich in Q2 2022</b></h3>-->
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    <!--</div>
                                                    <div class="text-block">-->
                                                        @*<h5>Can I pay using AMEX?</h5>*@
                                                        <!--<ul>
                                                            <li><p><b>PZN:</b> 17866689 </p></li>
                                                            <li><p><b>Typ:</b> Cannabisblüten </p></li>
                                                            <li><p><b>Wirkstoffmenge:</b> ca. 18% (–)-trans-Δ9-Tetrahydrocannabinol (THC), <1% (–)-trans-Cannabidiol (CBD)</p></li>
                                                            <li><p><b>Inhalt:</b> Cannabis flos 10 g </p></li>
                                                            <li><p><b>Haltbarkeit:</b> ca. 12 Monate </p></li>
                                                            <li><p><b>Herkunft:</b> Dänemark </p></li>
                                                            <li><p><b>Kultivar:</b> White Widow </p></li>
                                                            <li><p><b>Genotyp:</b> Sativadominanter Hybrid </p></li>
                                                            <li><p><b>Terpene:</b> β-Myrcene, β-Caryophyllen, δ-Limonen, α-Pinen </p></li>
                                                            <li><p><b>Weitere Cannabinoide:</b> Cannabigerol (CBG) </p></li>
                                                            <li>&nbsp;</li>
                                                            <li><p><b>AEK:</b> Alle Preise gemäß aktueller Lauertaxe insofern nicht anders angegeben. Bei größeren Bestellmengen sind Staffelpreise möglich. </p></li>
                                                        </ul>
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>
                                                            White Widow ist ein sehr bekannter sativadominanter Kultivar, welcher dem Patienten neben der Schmerzlinderung durch das günstige Terpenprofil eine euphorische und aufhellende Grundstimmung vermittelt. Dies kann gerade bei depressiver Verfassung auf Grund von Krankheit und Leid eine zusätzliche Verbesserung der Lebensqualität begünstigen.
                                                            APOCAN bietet die in Dänemark unter EU-GMP-Konformität gezüchteten Medizinalcannabis-Blüten mit bis zu 18% Δ9-THC in versiegelten 10g Dosen an.
                                                        </h5>-->
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    <!--</div>
                                                    <div class="text-block">
                                                        <h5>Download</h5>
                                                        <ul>
                                                            <li><a href="#">Analysezertifikat</a></li>
                                                            <li><a href="~/docs/122021/Rezepturherstellung Blüten_12-21.pdf" target="_blank">Blüten-Rezepturen</a></li>
                                                            <li><a href="~/docs/122021/Produktblatt Blüten 18_12-21.pdf" target="_blank">Produktblatt</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="text-block">-->
                                                        @*<h5>
                                                            Bestellen Sie bequem über Ihr Warenwirtschaftssystem. <br>
                                                        </h5><br />*@
                                                        @*<ul>
                                                            <li><img alt="Image" style="width:100px; height: 20px"  src="~/img/Noweda.png"></li>
                                                            <br>
                                                        </ul>*@
                                                    <!--</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>-->
                                <li class="active">
                                    <div class="tab__title"> <span class="h5">20:1</span></div>
                                    <div class="tab__content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="col-md-7 col-lg-12">
                                                        <div class="slider border--round boxed--border" data-timing="5000" data-paging="true">
                                                            <ul class="slides">
                                                                <li> <img alt="Image" src="~/img/Product/Gorilla_Glue_Flower_20-1_15g smla.jpg"> </li>
                                                                <li> <img alt="Image" src="~/img/Product/Gorilla_Glue_Flower_20-1_100g smla.jpg"> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="text-block">
                                                        <h3><b>APOCAN NATURAL GG 20|1 CANNABIS FLOS</b></h3>
                                                        @*<h3 class="color--googleplus"><b>Erhältlich in Q1 2022</b></h3>*@
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    </div>
                                                    <div class="text-block">
                                                        @*<h5>Can I pay using AMEX?</h5>*@
                                                        <ul>
                                                            <li><p><b>15g PZN:</b> 17866519 </p></li>
                                                            <li><p><b>100g PZN:</b> 17866525</p><br></li>
                                                            <li><p><b>Typ:</b> Unbestrahlte Cannabisblüten</p></li>
                                                            <li><p><b>Wirkstoffmenge:</b> ca. 20% (–)-trans-Δ9-Tetrahydrocannabinol (THC), 1% (–)-trans-Cannabidiol (CBD) </p></li>
                                                            <li><p><b>Inhalt:</b> Cannabis flos 15 g / 100 g </p></li>
                                                            <li><p><b>Haltbarkeit:</b> ca. 6 Monate </p></li>
                                                            <li><p><b>Herkunft:</b> Kanada </p></li>
                                                            <li><p><b>Kultivar:</b> Gorilla Glue #4 </p></li>
                                                            <li><p><b>Genotyp:</b> Indicadominanter Hybrid </p></li>
                                                            <li><p><b>Terpene:</b> β-Myrcene, β-Caryophyllen, δ-Limonen, α-Pinen </p></li>
                                                            <li><p><b>Weitere Cannabinoide:</b> Cannabigerol (CBG) </p></li>
                                                            <li>&nbsp;</li>
                                                            <li><p><b>AEK:</b> Alle Preise gemäß aktueller Lauertaxe insofern nicht anders angegeben. Bei größeren Bestellmengen sind Staffelpreise möglich. </p></li>
                                                        </ul>
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>
                                                            Die Medizinalcannabis-Blüten des Kultivars Gorilla Glue #4 sind in luft- und lichtdichten Standbodenbeuteln in Mengen zu 15g und 100g verfügbar. APOCAN bietet unbestrahlte EU-GMP-Blüten an, um dem Patienten ein möglichst unverfälschtes Terpenprofil zu garantieren.
                                                            Das Profil dieser Terpene in Verbindung mit einem Gehalt von bis zu 20% Δ9-THC führt zu einer sedativen, schmerzlindernden, antientzündlichen und relaxierenden Wirkung.
                                                        </h5>
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>Download</h5>
                                                        <ul>
                                                            <li><a href="@Url.RouteUrl("BlutenAnalysenzertifikate")">Analysezertifikat</a></li>
                                                            <li><a href="~/docs/052022/Rezepturherstellung Blüten_05-22.pdf" target="_blank">Blüten-Rezepturen</a></li>
                                                            <li><a href="~/docs/052022/Produktblatt GG Natural Blüten_05-22.pdf" target="_blank">Produktblatt</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 feature feature-4 boxed boxed--sm boxed--border">
                                                    <div>
                                                        <h5>
                                                            Bestellen Sie bequem über Ihr Warenwirtschaftssystem bei Ihrer <br>
                                                        </h5>
                                                        <ul>
                                                            <li><img alt="Image" style="width:100px; height:33px" src="~/img/2560px-NOWEDA_Logo.svg.png"></li>
                                                        </ul>
                                                        <h5>
                                                            <br>Jetzt erhältlich bei:
                                                        </h5>
                                                        <ul>
                                                            <li><img alt="Image" style="width:125px; height:20px" src="~/img/Paesel und Lorei.png"></li>
                                                        </ul>
                                                        <h5>
                                                            <br>
                                                            Tel: +49-2849 9026-0 <br>Fax: +49-2843 9026-218<br>Mail: <a href="mailto:info@paesel-lorei.de" target="_self">info@paesel-lorei.de</a>
                                                            <br><br> Oder kontaktieren Sie unseren Vertriebsleiter Herrn Sotiriou direkt unter: <br> Tel: +49 201 862811-10 <br>Fax: +49 201 862811-99<br>Mail:
                                                            <a href="mailto:bestellung@apocan.de" target="_self">bestellung@apocan.de</a>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab__title"> <span class="h5">22:1</span></div>
                                    <div class="tab__content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="col-md-7 col-lg-12">
                                                        <div class="slider border--round boxed--border" data-timing="5000" data-paging="true">
                                                            <ul class="slides">
                                                                <li> <img alt="Image" src="~/img/Product/Gorilla_Glue_Flower_22-1_15g smla.jpg"> </li>
                                                                <li> <img alt="Image" src="~/img/Product/Gorilla_Glue_Flower_22-1_100g smla.jpg"> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="text-block">
                                                        <h3><b>APOCAN NATURAL GG 22|1 CANNABIS FLOS</b></h3>
                                                        @*<h3 class="color--googleplus"><b>Erhältlich in Q1 2022</b></h3>*@
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    </div>
                                                    <div class="text-block">
                                                        @*<h5>Can I pay using AMEX?</h5>*@
                                                        <ul>
                                                            <li><p><b> 15g PZN:</b> 17866531 </p></li>
                                                            <li><p><b> 100g PZN:</b> 17866548 </p><br></li>
                                                            <li><p><b>Typ:</b> Unbestrahlte Cannabisblüten</p></li>
                                                            <li><p><b>Wirkstoffmenge:</b> ca. 22% (–)-trans-Δ9-Tetrahydrocannabinol (THC), 1% (–)-trans-Cannabidiol (CBD)  </p></li>
                                                            <li><p><b>Inhalt:</b> Cannabis flos 15 g / 100 g </p></li>
                                                            <li><p><b>Haltbarkeit:</b> ca. 6 Monate </p></li>
                                                            <li><p><b>Herkunft:</b> Kanada </p></li>
                                                            <li><p><b>Kultivar:</b> Gorilla Glue #4 </p></li>
                                                            <li><p><b>Genotyp:</b> Indicadominanter Hybrid </p></li>
                                                            <li><p><b>Terpene:</b> β-Myrcene, β-Caryophyllen, δ-Limonen, α-Pinen </p></li>
                                                            <li><p><b>Weitere Cannabinoide:</b> Cannabigerol (CBG) </p></li>
                                                            <li>&nbsp;</li>
                                                            <li><p><b>AEK:</b> Alle Preise gemäß aktueller Lauertaxe insofern nicht anders angegeben. Bei größeren Bestellmengen sind Staffelpreise möglich. </p></li>
                                                        </ul>
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>
                                                            Die Medizinalcannabis-Blüten des Kultivars Gorilla Glue #4 sind in luft- und lichtdichten Standbodenbeuteln in Mengen zu 15g und 100g verfügbar. APOCAN bietet unbestrahlte EU-GMP-Blüten an, um dem Patienten ein möglichst unverfälschtes Terpenprofil zu garantieren.
                                                            Das Profil dieser Terpene in Verbindung mit einem erhöhten Δ9-THC Gehalt von bis zu 22%, lindert verstärkt Schmerzen, ist antientzündlich und sedativ und außerdem ein potentes Muskelrelaxans.
                                                        </h5>
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>Download</h5>
                                                        <ul>
                                                            <li><a href="@Url.RouteUrl("BlutenAnalysenzertifikate")">Analysezertifikat</a></li>
                                                            <li><a href="~/docs/052022/Rezepturherstellung Blüten_05-22.pdf" target="_blank">Blüten-Rezepturen</a></li>
                                                            <li><a href="~/docs/052022/Produktblatt GG Natural Blüten_05-22.pdf" target="_blank">Produktblatt</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 feature feature-4 boxed boxed--sm boxed--border">
                                                    <div>
                                                        <h5>
                                                            Bestellen Sie bequem über Ihr Warenwirtschaftssystem bei Ihrer <br>
                                                        </h5>
                                                        <ul>
                                                            <li><img alt="Image" style="width:100px; height:33px" src="~/img/2560px-NOWEDA_Logo.svg.png"></li>
                                                        </ul>
                                                        <h5>
                                                            <br>Jetzt erhältlich bei:
                                                        </h5>
                                                        <ul>
                                                            <li><img alt="Image" style="width:125px; height:20px" src="~/img/Paesel und Lorei.png"></li>
                                                        </ul>
                                                        <h5>
                                                            <br>
                                                            Tel: +49-2849 9026-0 <br>Fax: +49-2843 9026-218<br>Mail: <a href="mailto:info@paesel-lorei.de" target="_self">info@paesel-lorei.de</a>
                                                            <br><br> Oder kontaktieren Sie unseren Vertriebsleiter Herrn Sotiriou direkt unter: <br> Tel: +49 201 862811-10 <br>Fax: +49 201 862811-99<br>Mail:
                                                            <a href="mailto:bestellung@apocan.de" target="_self">bestellung@apocan.de</a>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>



