
@{
    ViewBag.Title = "Cannabidiol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/theme-charcoal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

</head>
<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="text-center imagebg section--ken-burns space--md" data-overlay="2">
            <div class="background-image-holder"> <img alt="background" src="~/img/Service_1.jpeg"> </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-11">
                        <h1><b>Cannabidiol</b></h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center cta cta-4 space--xxs border--bottom bg--primary-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> <span> Zurück zur </span> <a href="@Url.RouteUrl("ProfessionalMain")"> <span class="label label--inline bg--primary">Übersicht </span></a> </div>
                </div>
            </div>
        </section>
        <section class="text-center bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabs-container" data-content-align="left">
                            <ul class="tabs">
                                <li class="active">
                                    <div class="tab__title"> <span class="h5">1 g</span></div>
                                    <div class="tab__content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    @*<div class="text-block">
                                                        <h3><b>APOCAN Cannabidiol 1g</b></h3>
                                                    </div>*@
                                                    <div class="col-md-7 col-lg-12">
                                                        <div class="slider border--round boxed--border" data-timing="5000" data-paging="true">
                                                            <ul class="slides">
                                                                <li> <img alt="Image" src="~/img/Product/1g_DUMA_max_dimension smla.jpg"> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="text-block">
                                                        <h3><b>APOCAN CANNABIDIOL DAC 1 g</b></h3>
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    </div>
                                                    <div class="text-block">
                                                        @*<h5>Can I pay using AMEX?</h5>*@
                                                        <ul>
                                                            <li><p><b>PZN:</b> 17866761 </p></li>
                                                            <li><p><b>Typ:</b> Wirkstoff </p></li>
                                                            <li><p><b>Wirkstoffmenge:</b> 1 g (–)-trans-Cannabidiol </p></li>
                                                            <li><p><b>Inhalt:</b> 1 g Cannabidiol in HDPE Dose, versiegelt </p></li>
                                                            <li><p><b>Haltbarkeit:</b> ca. 12 Monate </p></li>
                                                            <li><p><b>Herkunft:</b> Tschechische Republik </p></li>
                                                            <li>&nbsp;</li>
                                                            <li><p><b>AEK:</b> Alle Preise gemäß aktueller Lauertaxe insofern nicht anders angegeben. Bei größeren Bestellmengen sind Staffelpreise möglich. </p></li>
                                                        </ul>
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>
                                                            APOCAN bietet Ihnen ein DAC konformes Cannabidiol höchster Qualität an.
                                                            Der Wirkstoff ist ein kristallines Pulver, welches bei Temperaturen über 67 Grad Celsius zu schmelzen beginnt. Das so verflüssigte Cannabidiol kann einfach zu Rezepturarzneimitteln verarbeitet werden und versichert eine Reproduzierbarkeit der Wirkung im Sinne des Patienten. Das unter EU-GMP-Standards hergestellte Cannabidiol ist in Packungsgrößen von 1g, 5g und 10g verfügbar.
                                                        </h5>
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>Download</h5>
                                                        <ul>
                                                            <li><a href="@Url.RouteUrl("CannabidiolAnalysenzertifikate")">Analysezertifikat</a></li>
                                                            <li><a href="~/docs/052022/Rezepturherstellung Cannabidiol_05-22.pdf" target="_blank">Cannabidiol-Rezepturen</a></li>
                                                            <li><a href="~/docs/052022/APOCAN Cannabidiol Sicherheitsdatenblatt.pdf">Sicherheitsdatenblatt</a></li>
                                                            <li><a href="~/docs/052022/Produktblatt Cannabidiol_05-22.pdf" target="_blank">Produktblatt</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 feature feature-4 boxed boxed--sm boxed--border">
                                                    <div>
                                                        <h5>
                                                            Bestellen Sie bequem über Ihr Warenwirtschaftssystem bei Ihrer <br>
                                                        </h5>
                                                        <ul>
                                                            <li><img alt="Image" style="width:100px; height:33px" src="~/img/2560px-NOWEDA_Logo.svg.png"></li>
                                                        </ul>
                                                        <h5>
                                                            <br>Jetzt erhältlich bei:
                                                        </h5>
                                                        <ul>
                                                            <li><img alt="Image" style="width:125px; height:20px" src="~/img/Paesel und Lorei.png"></li>
                                                        </ul>
                                                        <h5>
                                                            <br>
                                                            Tel: +49-2849 9026-0 <br>Fax: +49-2843 9026-218<br>Mail: <a href="mailto:info@paesel-lorei.de" target="_self">info@paesel-lorei.de</a>
                                                            <br><br> Oder kontaktieren Sie unseren Vertriebsleiter Herrn Sotiriou direkt unter: <br> Tel: +49 201 862811-10 <br>Fax: +49 201 862811-99<br>Mail:
                                                            <a href="mailto:bestellung@apocan.de" target="_self">bestellung@apocan.de</a>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab__title"> <span class="h5">5 g</span> </div>
                                    <div class="tab__content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    @*<div class="text-block">
                <h3><b>APOCAN Cannabidiol 5g</b></h3>
            </div>*@
                                                    <div class="col-md-7 col-lg-12">
                                                        <div class="slider border--round boxed--border" data-timing="5000" data-paging="true">
                                                            <ul class="slides">
                                                                <li> <img alt="Image" src="~/img/Product/5g_30_ml_DUMA.jpg"> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="text-block">
                                                        <h3>
                                                            <b>APOCAN CANNABIDIOL DAC 5 g</b>
                                                        </h3>
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    </div>
                                                    <div class="text-block">
                                                        @*<h5>Can I pay using AMEX?</h5>*@
                                                        <ul>
                                                            <li><p><b>PZN:</b> 17866778 </p></li>
                                                            <li><p><b>Typ:</b> Wirkstoff </p></li>
                                                            <li><p><b>Inhalt:</b> 5 g Cannabidiol in HDPE Dose, versiegelt </p></li>
                                                            <li><p><b>Wirkstoffmenge:</b> 5 g (–)-trans-Cannabidiol </p></li>
                                                            <li><p><b>Haltbarkeit:</b> ca. 12 Monate </p></li>
                                                            <li><p><b>Herkunft:</b> Tschechische Republik </p></li>
                                                            <li>&nbsp;</li>
                                                            <li><p><b>AEK:</b> Alle Preise gemäß aktueller Lauertaxe insofern nicht anders angegeben. Bei größeren Bestellmengen sind Staffelpreise möglich. </p></li>
                                                        </ul>
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>
                                                            APOCAN bietet Ihnen ein DAC konformes Cannabidiol höchster Qualität an.
                                                            Der Wirkstoff ist ein kristallines Pulver, welches bei Temperaturen über 67 Grad Celsius zu schmelzen beginnt. Das so verflüssigte Cannabidiol kann einfach zu Rezepturarzneimitteln verarbeitet werden und versichert eine Reproduzierbarkeit der Wirkung im Sinne des Patienten. Das unter EU-GMP-Standards hergestellte Cannabidiol ist in Packungsgrößen von 1g, 5g und 10g verfügbar.
                                                        </h5>
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>Download</h5>
                                                        <ul>
                                                            <li><a href="@Url.RouteUrl("CannabidiolAnalysenzertifikate")">Analysezertifikat</a></li>
                                                            <li><a href="~/docs/052022/Rezepturherstellung Cannabidiol_05-22.pdf" target="_blank">Cannabidiol-Rezepturen</a></li>
                                                            <li><a href="~/docs/052022/APOCAN Cannabidiol Sicherheitsdatenblatt.pdf">Sicherheitsdatenblatt</a></li>
                                                            <li><a href="~/docs/052022/Produktblatt Cannabidiol_05-22.pdf" target="_blank">Produktblatt</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 feature feature-4 boxed boxed--sm boxed--border">
                                                    <div>
                                                        <h5>
                                                            Bestellen Sie bequem über Ihr Warenwirtschaftssystem bei Ihrer <br>
                                                        </h5>
                                                        <ul>
                                                            <li><img alt="Image" style="width:100px; height:33px" src="~/img/2560px-NOWEDA_Logo.svg.png"></li>
                                                        </ul>
                                                        <h5>
                                                            <br>Jetzt erhältlich bei:
                                                        </h5>
                                                        <ul>
                                                            <li><img alt="Image" style="width:125px; height:20px" src="~/img/Paesel und Lorei.png"></li>
                                                        </ul>
                                                        <h5>
                                                            <br>
                                                            Tel: +49-2849 9026-0 <br>Fax: +49-2843 9026-218<br>Mail: <a href="mailto:info@paesel-lorei.de" target="_self">info@paesel-lorei.de</a>
                                                            <br><br> Oder kontaktieren Sie unseren Vertriebsleiter Herrn Sotiriou direkt unter: <br> Tel: +49 201 862811-10 <br>Fax: +49 201 862811-99<br>Mail:
                                                            <a href="mailto:bestellung@apocan.de" target="_self">bestellung@apocan.de</a>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab__title"> <span class="h5">10 g</span> </div>
                                    <div class="tab__content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    @*<div class="text-block">
                <h3><b>APOCAN Cannabidiol 10g</b></h3>
            </div>*@
                                                    <div class="col-md-7 col-lg-12">
                                                        <div class="slider border--round boxed--border" data-timing="5000" data-paging="true">
                                                            <ul class="slides">
                                                                <li> <img alt="Image" src="~/img/Product/10g_30_ml_DUMA.jpg"> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="text-block">
                                                        <h3><b>APOCAN CANNABIDIOL DAC 10 g</b></h3>
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    </div>
                                                    <div class="text-block">
                                                        @*<h5>Can I pay using AMEX?</h5>*@
                                                        <ul>
                                                            <li><p><b>PZN:</b> 17866784 </p></li>
                                                            <li><p><b>Typ:</b> Wirkstoff </p></li>
                                                            <li><p><b>Inhalt:</b> 10 g Cannabidiol in HDPE Dose, versiegelt </p></li>
                                                            <li><p><b>Wirkstoffmenge:</b> 10 g (–)-trans-Cannabidiol </p></li>
                                                            <li><p><b>Haltbarkeit:</b> ca. 12 Monate </p></li>
                                                            <li><p><b>Herkunft:</b> Tschechische Republik </p></li>
                                                            <li>&nbsp;</li>
                                                            <li><p><b>AEK:</b> Alle Preise gemäß aktueller Lauertaxe insofern nicht anders angegeben. Bei größeren Bestellmengen sind Staffelpreise möglich. </p></li>
                                                        </ul>
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>
                                                            APOCAN bietet Ihnen ein DAC konformes Cannabidiol höchster Qualität an.
                                                            Der Wirkstoff ist ein kristallines Pulver, welches bei Temperaturen über 67 Grad Celsius zu schmelzen beginnt. Das so verflüssigte Cannabidiol kann einfach zu Rezepturarzneimitteln verarbeitet werden und versichert eine Reproduzierbarkeit der Wirkung im Sinne des Patienten. Das unter EU-GMP-Standards hergestellte Cannabidiol ist in Packungsgrößen von 1g, 5g und 10g verfügbar.
                                                        </h5>
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>Download</h5>
                                                        <ul>
                                                            <li><a href="@Url.RouteUrl("CannabidiolAnalysenzertifikate")">Analysezertifikat</a></li>
                                                            <li><a href="~/docs/052022/Rezepturherstellung Cannabidiol_05-22.pdf" target="_blank">Cannabidiol-Rezepturen</a></li>
                                                            <li><a href="~/docs/052022/APOCAN Cannabidiol Sicherheitsdatenblatt.pdf">Sicherheitsdatenblatt</a></li>
                                                            <li><a href="~/docs/052022/Produktblatt Cannabidiol_05-22.pdf" target="_blank">Produktblatt</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 feature feature-4 boxed boxed--sm boxed--border">
                                                    <div>
                                                        <h5>
                                                            Bestellen Sie bequem über Ihr Warenwirtschaftssystem bei Ihrer <br>
                                                        </h5>
                                                        <ul>
                                                            <li><img alt="Image" style="width:100px; height:33px" src="~/img/2560px-NOWEDA_Logo.svg.png"></li>
                                                        </ul>
                                                        <h5>
                                                            <br>Jetzt erhältlich bei:
                                                        </h5>
                                                        <ul>
                                                            <li><img alt="Image" style="width:125px; height:20px" src="~/img/Paesel und Lorei.png"></li>
                                                        </ul>
                                                        <h5>
                                                            <br>
                                                            Tel: +49-2849 9026-0 <br>Fax: +49-2843 9026-218<br>Mail: <a href="mailto:info@paesel-lorei.de" target="_self">info@paesel-lorei.de</a>
                                                            <br><br> Oder kontaktieren Sie unseren Vertriebsleiter Herrn Sotiriou direkt unter: <br> Tel: +49 201 862811-10 <br>Fax: +49 201 862811-99<br>Mail: 
                                                            <a href="mailto:bestellung@apocan.de" target="_self">bestellung@apocan.de</a>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>

