
@{
    ViewBag.Title = "Extrakte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/theme-charcoal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

</head>
<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="text-center imagebg section--ken-burns space--md" data-overlay="2">
            <div class="background-image-holder"> <img alt="background" src="~/img/Extrakte Header Image1-1.jpg"> </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-11">
                        <h1><b>Extrakte</b></h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center cta cta-4 space--xxs border--bottom bg--primary-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> <span> Zurück zur </span> <a href="@Url.RouteUrl("ProfessionalMain")"> <span class="label label--inline bg--primary">Übersicht </span></a> </div>
                </div>
            </div>
        </section>
        <section class="text-center bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabs-container" data-content-align="left">
                            <ul class="tabs">
                                <li class="active">
                                    <div class="tab__title"> <span class="h5">10:10</span></div>
                                    <div class="tab__content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="col-md-7 col-lg-12">
                                                        <div class="slider border--round boxed--border" data-timing="5000" data-paging="true">
                                                            <ul class="slides">
                                                                <li> <img alt="Image" src="~/img/Product/primar 10-10 smla.jpg"> </li>
                                                                <li> <img alt="Image" src="~/img/Product/sekundar 10-10 smla.jpg"> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="text-block">
                                                        <h3><b>APOCAN 10|10 CANNABIS EXTRACTUM NORMATUM 30 ml</b></h3>
                                                        <h3 class="color--googleplus"><b>Erhältlich in Q2 2022</b></h3>
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    </div>
                                                    <div class="text-block">
                                                        @*<h5>Can I pay using AMEX?</h5>*@
                                                        <ul>
                                                            <li><p><b>PZN:</b> 17866726 </p></li>
                                                            <li><p><b>Typ:</b> Standardisierter Cannabisextrakt </p></li>
                                                            <li><p><b>Wirkstoffmenge:</b> 300 mg (10mg/ml) (–)-trans-Δ9-Tetrahydrocannabinol, 300 mg (10mg/ml) (–)-trans-Cannabidiol </p></li>
                                                            <li><p><b>Inhalt:</b> Cannabis extractum normatum 10|10 in 30 ml Braunglasflasche, Kolbendosierpipette, Analysezertifikat </p></li>
                                                            <li><p><b>Haltbarkeit:</b> ca. 12 Monate </p></li>
                                                            <li><p><b>Herkunft:</b> Australien </p></li>
                                                            <li><p><b>Kultivar:</b> Sweet Sunk, Cannatonic </p></li>
                                                            <li>&nbsp;</li>
                                                            <li><p><b>AEK:</b> Alle Preise gemäß aktueller Lauertaxe insofern nicht anders angegeben. Bei größeren Bestellmengen sind Staffelpreise möglich. </p></li>
                                                        </ul>
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>
                                                            Der Vorteil des APOCAN Cannabis Extractum Normatum ist die direkte Reproduzierbarkeit. Die standardisierten Cannabisextrakte von APOCAN sind in den Konzentrationen 10:10 und 25:1 verfügbar und helfen den Patienten durch eine schnelle und unkomplizierte Einnahme.
                                                            Dieser Extrakt beinhaltet sowohl 10mg Δ9-THC, als auch 10mg CBD pro Milliliter und ist somit eine sanfte Möglichkeit den Patienten an eine Therapie mit cannabinoidhaltigen Arzneimitteln heranzuführen.
                                                        </h5>
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>Download</h5>
                                                        <ul>
                                                            <li><a href="#">Analysezertifikat</a></li>
                                                            <li><a href="~/docs/122021/Rezepturherstellung Extrakte_12-21.pdf" target="_blank">Extrakt-Rezepturen</a></li>
                                                            <li><a href="~/docs/122021/Produktblatt Extrakte_12-21.pdf" target="_blank">Produktblatt</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="text-block">
                                                        @*<h5>
                                                            Bestellen Sie bequem über Ihr Warenwirtschaftssystem. <br>
                                                        </h5><br />*@
                                                        @*<ul>
                                                            <li><img alt="Image" style="width:100px; height: 20px"  src="~/img/Noweda.png"></li>
                                                            <br>
                                                        </ul>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab__title"> <span class="h5">25:1</span> </div>
                                    <div class="tab__content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="slider border--round boxed--border" data-timing="5000" data-paging="true">
                                                        <ul class="slides">
                                                            <li> <img alt="Image" src="~/img/Product/primar 25-1 smla.jpg"> </li>
                                                            <li> <img alt="Image" src="~/img/Product/sekundar 25-1 smla.jpg"> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="text-block">
                                                        <h3><b>APOCAN 25|1 CANNABIS EXTRACTUM NORMATUM 30 ml</b></h3>
                                                        <h3 class="color--googleplus"><b>Erhältlich in Q2 2022</b></h3>
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    </div>
                                                    <div class="text-block">
                                                        @*<h5>Can I pay using AMEX?</h5>*@
                                                        <ul>
                                                            <li><p><b>PZN:</b> 17866703 </p></li>
                                                            <li><p><b>Typ:</b> Standardisierter Cannabisextrakt </p></li>
                                                            <li><p><b>Wirkstoffmenge:</b> 750 mg (25mg/ml) (–)-trans-Δ9-Tetrahydrocannabinol, 30 mg (1mg/ml) (–)-trans-Cannabidiol </p></li>
                                                            <li><p><b>Inhalt:</b> Cannabis extractum normatum 25|1 in 30 ml Braunglasflasche, Kolbendosierpipette, Analysezertifikat </p></li>
                                                            <li><p><b>Haltbarkeit:</b> ca. 12 Monate </p></li>
                                                            <li><p><b>Herkunft:</b> Australien </p></li>
                                                            <li><p><b>Kultivar:</b> Sweet Sunk, Cannatonic </p></li>
                                                            <li>&nbsp;</li>
                                                            <li><p><b>AEK:</b> Alle Preise gemäß aktueller Lauertaxe insofern nicht anders angegeben. Bei größeren Bestellmengen sind Staffelpreise möglich. </p></li>
                                                        </ul>
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>
                                                            Der standardisierte APOCAN Cannabis Extraktum Normatum der Konzentration 25:1 ist ein potenteres Cannabisextrakt mit 25mg Δ9-THC pro Milliliter und kann bei stärkeren Beschwerden wie z.B. Schmerzen eingesetzt werden. Das therapeutische Potential der APOCAN Cannabis Extrakte geht allerdings weit über die Schmerzlinderung hinaus.
                                                            Der Patient erfährt zudem eine appetitanregende, Übelkeit lindernde und stimmungsaufhellende Wirkung. Die Cannabisextrakte von APOCAN helfen den Patienten durch eine schnelle und unkomplizierte Einnahme.
                                                        </h5>
                                                        @*<p> Open a <a href="#">refund request</a> with us and we can work with you to resolve it ASAP. </p>*@
                                                    </div>
                                                    <div class="text-block">
                                                        <h5>Download</h5>
                                                        <ul>
                                                            <li><a href="#">Analysezertifikat</a></li>
                                                            <li><a href="~/docs/122021/Rezepturherstellung Extrakte_12-21.pdf" target="_blank">Extrakt-Rezepturen</a></li>
                                                            <li><a href="~/docs/122021/Produktblatt Extrakte_12-21.pdf" target="_blank">Produktblatt</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="text-block">
                                                        @*<h5>
                                                            Bestellen Sie bequem über Ihr Warenwirtschaftssystem. <br>
                                                        </h5><br />*@
                                                        @*<ul>
                                                            <li><img alt="Image" style="width:100px; height: 20px" src="~/img/Noweda.png"></li>
                                                            <br>
                                                        </ul>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>

