@{
    ViewBag.Title = "APOCAN | FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/theme-charcoal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

</head>
<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="text-center imagebg section--ken-burns space--md" data-overlay="2">
            <div class="background-image-holder"> <img alt="background" src="~/img/FAQ Header Image1.jpg"> </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-11">
                        <h1><br><b>FAQ</b></h1>
                    </div>
                </div>
            </div>
        </section>
        @*<section class="imagebg height-30 text-center section--ken-burns" data-overlay="2">
            <div class="background-image-holder"> <img alt="background" src="~/img/FAQ Header Image1.jpg"> </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1><b>FAQ</b></h1>
                    </div>
                </div>
            </div>
        </section>*@
        <section class="switchable bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-12">
                        <h3>
                            <b>
                                Basiswissen
                            </b>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-12 switchable__text">
                        <ul class="accordion accordion-1">
                            <li>
                                <div class="accordion__title"> <span class="h4">Was ist Medizinalcannabis?</span> </div>
                                <div class="accordion__content">
                                    <p class="lead">Medizinalcannabis ist der allgemein verwendete Begriff für die medizinisch genutzten reifen Blütenständen der weiblichen Hanfpflanze Cannabis sativa L., welche unter speziellen und streng kontrollierten Bedingungen angebaut, geerntet, verarbeitet und analysiert werden. Die Blütenstände der weiblichen Pflanze sind besonders reichhaltig an cannabinoid- und terpenhaltigem Harz. Die bekanntesten Cannabinoide sind THC (Δ9-Tetrahydrocannabinol) und CBD (Cannabidiol). </p>
                                </div>
                            </li>
                            <li>
                                <div class="accordion__title"> <span class="h4">Wer darf Cannabisarzneimittel verschreiben?</span> </div>
                                <div class="accordion__content">
                                    <p class="lead"> Alle Personen, die zur Ausübung des ärztlichen Berufes berechtigt sind, dürfen ihren Patienten Cannabisarzneimittel verschreiben. Ausgenommen hiervon sind Tier- und Zahnärzte. Die meisten Cannabisarzneimittel unterliegen dem Betäubungsmittelgesetz und müssen dementsprechend gesondert behandelt, abgerechnet, gelagert und verschrieben werden.  </p>
                                </div>
                            </li>
                            <li>
                                <div class="accordion__title"> <span class="h4">Was muss vor der ersten Verschreibung eines Cannabisarzneimittels beachtet werden?</span> </div>
                                <div class="accordion__content">
                                    <p class="lead">Dem Patienten wird geraten sich vor der ersten Verschreibung mit der Krankenkasse auseinanderzusetzen und zusammen mit dem verschreibenden Arzt einen Antrag auf Kostenübernahme zu stellen. Weiterhin muss der Patient vom verschreibenden Arzt über die anonymisierte Sammlung der Krankheits- und Behandlungsdaten im Zuge der Begleiterhebung aufgeklärt werden. Es ist auch möglich, dass der Arzt dem Patienten ein Privatrezept ausstellt, jedoch muss der Patient in diesem Fall die Kosten für die Cannabisarzneimittel selbst tragen. </p>
                                </div>
                                <div class="accordion__content">
                                    <p class="lead">Weitere Informationen zur Begleiterhebung finden Sie im §31 Absatz 6 Fünftes Buch SGB und auf der Website des Bundesamtes für Arzneimittel und Medizinprodukte (BfArM) <a href="https://www.bfarm.de/DE/Bundesopiumstelle/Cannabis-als-Medizin/Begleiterhebung/_node.html" target="_blank">https://www.bfarm.de/DE/Bundesopiumstelle/Cannabis-als-Medizin/Begleiterhebung/_node.html</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="accordion__title"> <span class="h4">Wie entsteht Medizinalcannabis?</span> </div>
                                <div class="accordion__content">
                                    <p class="lead">Zunächst wird eine bestimmte Cannabis Sorte analysiert und getestet. Passen alle Parameter zum geplanten Einsatzgebiet, wird von dieser Sorte eine ausdauernde Mutterpflanze herangezogen. Von dieser Mutterpflanze werden wiederholend Stecklinge geschnitten und zum Wurzeln gebracht. Diese Technik garantiert eine hundertprozentige genetische Übereinstimmung mit der Mutterpflanze wie es beim Heranziehen aus Samen nicht möglich wäre. </p>
                                </div>
                                <div class="accordion__content">
                                    <p class="lead">Nachdem die Stecklinge angewurzelt sind und sich zu vollständigen Pflanzen entwickelt haben, werden sie zum Blühen angeregt. Nach dem Reifen der Blütestände werden diese geerntet, von herausstehenden Blättern befreit, getrocknet und verpackt. Der gesamte Prozess, vom Aufziehen der Mutterpflanze bis zum Verpacken wird genaustens überwacht, dokumentiert und unter sorgfältigsten Inprozesskontrollen immer weiter optimiert. Dadurch ist das Ergebnis eine von den Inhaltsstoffen stabile, medizinisch nutzbare Cannabisblüte.  </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="switchable bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-12">
                        <h3>
                            <b>
                                Kankenkassen & Erstattung
                            </b>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-12 switchable__text">
                        <ul class="accordion accordion-1">
                            <li>
                                <div class="accordion__title"> <span class="h4">Wie funktioniert die Kostenübernahme durch die Krankenkassen?</span> </div>
                                <div class="accordion__content">
                                    <p class="lead">
                                        Vor dem Verschreiben von Cannabisarzneimitteln oder Medizinalcannabis-Blüten sollte die Kostenübernahme der Behandlung durch die Krankenkasse des Patienten bestätigt werden.
                                        Hierzu ist es nötig, einen begründeten Antrag auf Kostenübernahme zu stellen. Nachdem der Antrag mit Hilfe des verschreibenden Arztes gestellt wurde, vergehen in der Regel bis zu drei Wochen (in akuten Fällen oder Palliativsituationen nur 3 Tage) bevor eine Entscheidung der Krankenkasse vorliegt. Wird der Antrag auf Kostenübernahme genehmigt, übernimmt die Krankenkasse die vollen Kosten für eine Behandlung. Sollte die Frist überschritten werden, gilt der Antrag auf Kostenerstattung ebenso als genehmigt. Im Falle eines negativen Ergebnisses kann innerhalb von vier Wochen Widerspruch gegen die Entscheidung eingelegt werden.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="accordion__title"> <span class="h4">Ist eine Verschreibung auch dann möglich, wenn die Krankenkasse die Kostenübernahme verweigert?</span> </div>
                                <div class="accordion__content">
                                    <p class="lead">Die Verschreibung von Cannabisarzneimitteln oder Medizinalcannabis-Blüten obliegt nicht der Krankenkasse, sondern ausschließlich der Entscheidung des Arztes oder der Ärztin. Verweigert die Krankenkasse die Kostenübernahme muss der Patient jedoch für die Kosten selbst aufkommen. Daher wird bei einer negativen Entscheidung seitens der Krankenkasse empfohlen, einen Widerspruch einzulegen. </p>
                                </div>
                            </li>
                            <li>
                                <div class="accordion__title"> <span class="h4">Warum erhalte ich nur beim Arzt ausführliche Informationen zu medizinischem Cannabis?</span> </div>
                                <div class="accordion__content">
                                    <p class="lead">
                                        Da es sich bei Cannabisarzneimitteln größtenteils um Betäubungsmittel handelt, dürfen Hersteller in der Öffentlichkeit keine detaillierten Informationen weitergeben. Informations- und Aufklärungsmaterial dürfen ausschließlich an medizinisches Fachpersonal preisgegeben werden. Nur Ärzte und Apotheken haben Zugang zu diesen Informationen.
                                        Wenn Sie mehr über Medizinalcannabis und den daraus gewonnenen Arzneimitteln erfahren möchten, empfehlen wir Ihnen sich mit Ihrem Hausarzt auszutauschen. Dieser kann zusammen mit Ihnen passende Produkte in zutreffenden Dosierungen finden und Ihnen die Eigenschaften und Eigenheiten von Cannabisarzneimitteln erläutern. Sollte Ihr Hausarzt dem Thema Cannabis gegenüber nicht ausreichend informiert sein, können Sie jederzeit zu jedem anderen Arzt gehen.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="accordion__title"> <span class="h4">Warum wird Medizinalcannabis bei bestimmten Erkrankungen nicht standardmäßig verordnet?</span> </div>
                                <div class="accordion__content">
                                    <p class="lead">
                                        Auf Grund des Mangels klinischer Studien zu medizinischem Cannabis, wird dies meist erst eingesetzt, wenn für eine schwere Erkrankung keine Behandlungsalternativen zur Verfügung stehen. Durch diese Gesetzeslage können Krankenkassen erst dann das verschriebene medizinische Cannabis erstatten. Auch Ärzte ziehen es vor Arzneimittel mit einer stärkeren Studienlage zu verordnen. Es gibt mehrere verschiedene Cannabis-Produkte mit unterschiedlichem Gehalt an CBD- und THC-Werten. Es stehen leider dadurch noch nicht für jedes Produkt zu jeder Erkrankung Studien bereit.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="accordion__title"> <span class="h4">Kann ich mir Cannabis zur Behandlung meiner Erkrankung selbst kaufen?</span> </div>
                                <div class="accordion__content">
                                    <p class="lead">Der Erwerb von nicht-medizinischem Cannabis ist in Deutschland strafbar (BtMG). Nur Apotheken dürfen Medizinal Cannabis bei Vorlage des vom Arzt verschriebenen Betäubungsmittel-Rezepts verkaufen. Erst dann können die Krankenkassen den Betrag erstatten. Zum anderen sind Produkte, die auf dem „Schwarzmarkt“ angeboten werden, meist verunreinigt, von fraglicher Qualität und im schlimmsten Fall mit synthetischen Cannabinoiden versetzt, die stark abhängig machen, und mitunter sogar schädlich sein können. Medizinalcannabis garantiert den Patienten eine hohe Qualität durch die streng kontrollierten Bedingungen bei der Herstellung.    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="switchable bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-12">
                        <h3>
                            <b>
                                Verschreibung & Therapie
                            </b>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-12 switchable__text">
                        <ul class="accordion accordion-1">
                            <li>
                                <div class="accordion__title"> <span class="h4">Bei welchen Krankheiten wird Medizinalcannabis verschrieben?</span> </div>
                                <div class="accordion__content">
                                    <p class="lead">Da Medizinalcannabis ein breites Wirkspektrum hat, kann es bei sehr vielen Krankheiten teils aktiv therapeutisch, teils unterstützend verschrieben und angewendet werden. Beispielsweise verstärkt sich der Effekt von Opioiden bei der zusätzlichen Gabe von THC, was eine Dosisreduktion und somit weniger Nebenwirkungen für den Patienten zur Folge hat. Medizinalcannabis und Cannabisarzneimitteln werden unter anderem bei den folgenden Krankheiten angewendet: <br>• Schmerzen<br> • Multipler Sklerose & Paraplegie<br> • Epilepsie&nbsp;<br> • Übelkeit & Erbrechen nach Chemotherapie&nbsp;<br> • Appetitsteigerung bei HIV/AIDS&nbsp;<br> • Parkison&nbsp;<br>• Schlafstörungen&nbsp;<br>• Depressionen&nbsp;</p>
                                </div>
                            </li>
                            <li>
                                <div class="accordion__title"> <span class="h4">Wie gehe ich mit dem schwankenden Gehalt der Inhaltsstoffe um? </span> </div>
                                <div class="accordion__content">
                                    <p class="lead"> Da Medizinalcannabis ein Naturprodukt ist, unterliegt es auch natürlichen Gehaltsschwankungen. Diese Schwankungen dürfen sich jedoch nur in einem kleinen Fenster bewegen, welches durch die DAC-Monographie genaustens definiert ist. Weiterhin handelt es sich bei Cannabiswirkstoffen um milde Arzneien, bei denen Schwankungen um wenige Milligramm vernachlässigbar sind und geringe bis keine Auswirkungen auf die Wirksamkeit und Sicherheit der Therapie haben. Dennoch werden auch standardisierte Cannabisextrakte mit exakt definiertem Wirkstoffgehalt angeboten, um hierfür eine Lösung bereitzustellen.  </p>
                                </div>
                            </li>
                            <li>
                                <div class="accordion__title"> <span class="h4">Welche Nebenwirkungen können auftreten?</span> </div>
                                <div class="accordion__content">
                                    <p class="lead"> Da noch wenige wissenschaftliche Studien existieren, sind die Informationen zu den Nebenwirkungen von anderen Cannabisextrakten oder Cannabisblüten beschränkt. Jedoch sollten Nebenwirkungen sich mit denen der zugelassenen Cannabisarzneimittel gleichen. Tetrahydrocannabinol (THC) erzeugt zum Beispiel einen Rauschzustand, der das Führen von Fahrzeugen oder schweren Maschinen ausschließt, ähnlich wie bei Alkoholkonsum. Gemäß Darreichungsform und Anwendungsart können aber auch andere bzw. weitere Nebenwirkungen auftreten.   </p>
                                </div>
                            </li>
                            <li>
                                <div class="accordion__title"> <span class="h4">Was ist der Unterschied zwischen Flos und Granulat?</span> </div>
                                <div class="accordion__content">
                                    <p class="lead">
                                        Flos ist lateinisch und bedeutet Blüte oder Blume und bezeichnet ganze, getrocknete Medizinalcannabis-Blüten. Diese ganzen Blüten sind in etwa Kirsch- bis Walnussgroß und werden vor der Einnahme mit Hilfe einer Kräutermühle („Grinder“) oder einer Schere nochmals zerkleinert.
                                        Vom Granulat spricht man, wenn der Schritt der Zerkleinerung bereits in der Apotheke vollzogen wird, sodass der Patient die Medizinalcannabis-Blüten direkt konsumieren kann. Die Wirkung und Dosierung ist bei diesen beiden Darreichungsformen identisch.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="accordion__title"> <span class="h4">Kann ich von medizinischem Cannabis abhängig werden? </span> </div>
                                <div class="accordion__content">
                                    <p class="lead">
                                        Bei unkontrollierter längerfristiger Einnahme von Cannabisarzneimitteln kann in der Tat eine Abhängigkeit entstehen, die sich allerdings nicht physisch ausprägt.
                                        Um der Gefahr der Abhängigkeit zu entgehen, werden Ihnen a) nur die Mengen verordnet, die notwendig sind und b) achtet der verordnende Arzt genaustens darauf, dass die Dosierung so hoch wie nötig, aber gleichzeitig so niedrig wie möglich eingestellt wird.
                                        Weiterhin sind Sie in der Zeit der Cannabistherapie im Austausch mit und unter Kontrolle des Arztes. Bei der Verschreibung von medizinischem Cannabis kann Ihr Arzt Ihnen genauere Informationen über das Suchtpotenzial geben und wird darauf achten das Risiko so niedrig wie möglich zu halten.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="text-center space--sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-6">
                        <div class="cta">
                            <h2>Mehr Fragen? Schreiben Sie uns!</h2>
                            <a class="btn btn--primary type--uppercase" href="@Url.RouteUrl("Kontakt")">
                                <span class="btn__text">
                                    Kontakt<br>
                                </span>
                            </a>
                            <p class="type--fine-print">oder melden Sie sich im <a href="@Url.RouteUrl("ProfessionalMain")"> Fachbereich an</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>

