@{
    ViewBag.Title = "APOCAN | Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/theme-charcoal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/custom.css" rel="stylesheet" type="text/css" media="all" />
@*<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">*@

</head>
<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="text-center imagebg section--ken-burns space--md" data-overlay="2">
            <div class="background-image-holder"> <img alt="background" src="~/img/KONTAKT Header Image1.jpg"> </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-11">
                        <h1><br><b>Kontakt</b></h1>
                        <p class="lead"> Nehmen Sie mit uns Kontakt auf. Wir stehen Ihnen jederzeit für Fragen und Anregungen zu Verfügung. </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg--secondary space--sm text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
                            <i class="icon icon-Information icon--lg color--primary"></i>
                            <div class="feature__body text-left">
                                <h5><b>Mo. - Fr. 09.00 - 17.00</b></h5>
                                <p> Tel.: +49 (0)201 8628 11-0<br>Fax: +49 (0)201 8628 11-99&nbsp;<br>Mail: <a href="mailto:info@apocan.de" target="_self">info@apocan.de</a> </p>
                                <h5><b>Für Bestellungen</b></h5>
                                <p> Tel.: +49 201 8628 11-0<br>Fax: +49 201 8628 11-99&nbsp;<br>Mail:  <a href="mailto:bestellung@apocan.de" target="_self">bestellung@apocan.de</a> </p>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-6">
                        <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
                            <i class="icon icon-Shopping-Cart icon--lg color--primary"></i>
                            <div class="feature__body">
                                <h5>Bestellungen</h5>
                                <p> Tel:: 030 84429757<br>Fax: 030 75945211&nbsp;<br></p> <a href="bestellung@apocan.de" target="_self">bestellung@apocan.de</a>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </section>
    </div>
</body>

</html>